# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# This workflow will install Deno then run `deno lint` and `deno test`.
# For more information see: https://github.com/denoland/setup-deno

name: Deno CI/CD Blue-Green Deployment

on:
  push:
    branches: 
      - main

env:
  PROJECT_NAME: deno-task-manager
  IMAGE_TAG: ${{ github.sha }}
  REGISTRY: ghcr.io
  VPS_PROJECT_DIR: /home/deployer/DenoTaskManager

jobs: 
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout/@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Github Container Registry
        uses: docker/login-action@v3
        with: 
          registry: ghcr.io
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_TOKEN }}

      - name: Build and push Docker Image
        uses: docker/build-push-action@v5
        with: 
          context: ./DenoTaskManagerProject
          push: true
          tags: ${{ env.REGISTRY }}/${{ github.repository }}/${{ env.PROJECT_NAME }}:${{ env.IMAGE_TAG }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy:
    needs: build-and-push 
    runs-on: ubuntu-latest
    steps:
        
      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@master 
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          passphrase: ${{ secrets.SSH_PASSPHRASE }}
          script: |
            export IMAGE_NAME=${{ env.REGISTRY }}/${{ github.repository }}/${{ env.PROJECT_NAME }}:${{ env.IMAGE_TAG }}
            export PROJECT_DIR=${{ env.VPS_PROJECT_DIR }}
            
            echo "Iniciando despliegue Blue-Green..."
           
            $PROJECT_DIR/scripts/deploy.sh
            
            docker image prune -f
            
            echo "Despliegue completado."
















          
